* {
  font-family: sans-serif;
}

body,
html {
  margin: 0;
  width: 100%;
  height: 100%; /*fara asta nu merge svg-u pana la 100% */
  padding: 0;
  overflow: hidden; /* ca sa dispara bara aia alba de jos*/
}

.main-header {
  width: 100%;
  background-color: #164e63;
  cursor: default;
}

.h1-text {
  color: white;
  padding-left: 10px;
}

.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.btn {
  /* display: inline-block; */
  border-radius: 8px;
}

.crimsonColor {
  background-color: crimson;
}

.greenColor {
  background-color: #4ade80;
}

.blueColor {
  background-color: #1d4ed8;
}

.yellowColor {
  background-color: #facc15;
}

svg {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  /* background-color: #1d4ed8; */
  background-color: #f9f9f9;
  cursor: cell;
}

.spinnerColor,
.btnCircle,
.btnSquare,
.btnLine,
.btnEraseAll,
.btnErase,
.btnHelp {
  cursor: pointer;
}

.btnCircle:hover,
.btnSquare:hover,
.btnEraseAll:hover,
.btnLine:hover,
.btnErase:hover,
.btnHelp:hover {
  background-color: #fde68a;
  /* cursor: pointer; */
}

svg rect,
svg circle,
svg line {
  stroke: black;
  stroke-width: 2px;
  fill-opacity: 0.2;
}

svg #square,
svg #circle,
svg #line {
  stroke: black;
  stroke-width: 2px;
  stroke-dasharray: 5 5;
  fill: transparent;
}
